{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "class-methods-use-this": "off",
        "import/prefer-default-export": "off",
        "indent": [
            "error",
            4
        ],
        "no-cond-assign": "off",
        //"no-console": "off",
        "no-restricted-syntax": "off",
        "no-underscore-dangle": "off",
        "object-curly-newline": [
            "error",
            {
                "ImportDeclaration": {
                    "multiline": true
                }
            }
        ],
        "operator-linebreak": [
            "error",
            "after",
            {
                "overrides": {
                    "=": "after"
                }
            }
        ],
        "quotes": [
            "error",
            "double",
            {
                "avoidEscape": true
            }
        ],
        "semi": [
            "error",
            "never"
        ]
    }
}
