.button {
    background-color: map-get($primary-colors, "base");
    border: none;
    border-radius: $base-unit;
    color: map-get($bg-colors, "light-5");
    cursor: pointer;
    height: $item-height-base;
    width: 100%;
    text-transform: uppercase;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }

    &_icon_arrow-forward {
        background: map-get($primary-colors, "base") url(../static/icons/arrow_forward_white_48dp.svg) center no-repeat;
        background-size: contain;
        border-radius: 50%;
        width: 48px;
    }

    &_text {
        background: none;
        color: map-get($primary-colors, "base");
        text-transform: initial;
    }

    &_text-color {
        &_error {
            color: map-get($error-colors, "base");
        }
    }
}
