.button {
    background: $color-primary-base;
    border: none;
    border-radius: $base-unit;
    color: #fff;
    cursor: pointer;
    height: $height-row-base;
    width: 100%;
    text-transform: uppercase;
    transition: opacity .2s;

    &:hover {
        opacity: .8;
    }
}
