@use "../../../../styles/vars";

.chats {
    $base-unit-3: vars.$base-unit * 3;

    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    display: grid;
    grid-auto-rows: 70px;
    row-gap: $base-unit-3;

    &__item {
        border-top: thin solid map-get(vars.$bd-colors, "base");
        cursor: pointer;
        padding: $base-unit-3;
    }
}
