@use "vars";

/* Классы-помощники */
.box-shadow {
    box-shadow: 0 0 24px map-get(vars.$shadow-colors, "base");
}

@each $display in vars.$displays {
    .d_#{$display} {
        display: $display;
    }
}

.grid_col_all {
    grid-column: 1/-1;
}

.grid_row_all {
    grid-row: 1/-1;
}

.list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    display: grid;
    grid-auto-rows: vars.$item-height-base;
    row-gap: vars.$base-unit;

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
            border-bottom: thin solid map-get(vars.$bd-colors, "base");
        }

        &_jc_space-between {
            justify-content: space-between;
        }
    }
}

@each $margin in vars.$margins {
    .m_x_#{$margin} {
        margin-left: $margin;
        margin-right: $margin;
    }

    .m_y_#{$margin} {
        margin-bottom: $margin;
        margin-top: $margin;
    }

    .m_xy_#{$margin} {
        margin: $margin;
    }
}

.p_none {
    padding: 0 !important;
}
