// Units
$base-unit: 4px;

$font-sizes: (
    "base": 16px
);

// Sizes
$item-height-base: 48px;

// Colors
$bg-colors: (
    "base": #ebeff5,
    "light-5": #fbfbfb
);

$bd-colors: (
    "base": #bcc5d1
);

$fg-colors: (
    "base": #030724,
    "light-1": #525e74
);

$error-colors: (
    "base": #ce574a
);

$primary-colors: (
    "base": #1a965a
);

$shadow-colors: (
    "base": rgba(104, 122, 147, .08)
);

/* Классы-помощники */
.box-shadow {
    box-shadow: 0 0 24px map-get($shadow-colors, "base");
}

$displays: flex, none;

@each $display in $displays {
    .d_#{$display} {
        display: $display !important;
    }
}

.list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    display: grid;
    grid-auto-rows: $item-height-base;
    row-gap: $base-unit;

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
            border-bottom: thin solid map-get($bd-colors, "base");
        }

        &_jc_space-between {
            justify-content: space-between;
        }
    }
}

$margins: 0, auto;

@each $margin in $margins {
    .m_x_#{$margin} {
        margin-left: $margin;
        margin-right: $margin;
    }

    .m_y_#{$margin} {
        margin-bottom: $margin;
        margin-top: $margin;
    }

    .m_xy_#{$margin} {
        margin: $margin;
    }
}

.p_none {
    padding: 0 !important;
}
