// Units
$base-unit: 4px;

$font-size-base: 16px;

// Colors
$color-border-base: #bcc5d1;

$color-bg-base: #ebeff5;
$color-bg-lighten-5: #f7f7f7;

$color-error-base: #ce574a;

$color-primary-base: #1a965a;

$color-secondary-base: #030724;
$color-secondary-lighten-1: #525e74;

$color-shadow-base: rgba(104, 122, 147, .08);

// Sizes
$height-row-base: 48px;

$icon-size-xl: 48px;

// CSS props
$displays: block, flex, grid, none;
