@use "../../styles/vars";

.app {
    background: map-get(vars.$bg-colors, "base");
    color: map-get(vars.$fg-colors, "base");
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: map-get(vars.$font-sizes, "base");
    min-height: 100vh;

    &__main {
        min-height: inherit;

        &_padding {
            padding: vars.$base-unit * 10;
        }
    }
}
