.anchor {
    color: map-get($primary-colors, "base");
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &_color_error {
        color: map-get($error-colors, "base");
    }

    &_icon {
        display: block;
        background-color: map-get($primary-colors, "base");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;

        &:hover {
            text-decoration: none;
        }

        &_arrow-back {
            background-image: url(../static/icons/arrow_back_white_48dp.svg);
        }

        &_xl {
            height: $item-height-base;
            width: $item-height-base;
        }
    }
}
