@use "../../styles/vars";

.avatar {
    &_size_lg {
        $size: 200px;

        height: $size;
        width: $size;
    }

    &__main {
        border-radius: 50%;
        cursor: pointer;
        height: 100%;
        position: relative;

        &:hover::before {
            background-color: rgb(0 0 0 / 80%);
            border-radius: inherit;
            color: #fff;
            content: "Изменить";
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
        }

        &_no_hover:hover::before {
            background: none;
            content: "";
            cursor: default;
        }
    }

    &__img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: inherit;
        display: block;
        height: 100%;
        width: 100%;

        &_empty {
            background-color: map-get(vars.$bg-colors, "light-5");
            background-image: url("../static/icons/account_circle_black_48dp.svg");
            background-size: 75%;
        }
    }
}
