.avatar {
    &_size_lg {
        width: 120px;
    }

    &__img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        padding-top: 100%;
        position: relative;

        &:hover {
            &:before {
                color: #fff;
                content: 'Изменить';
                display: flex;
                align-items: center;
                justify-content: center;
                font-style: normal;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .8);
                border-radius: inherit;
            }
        }

        &_empty {
            background-color: map-get($bg-colors, "light-5");
            background-image: url(../static/icons/account_circle_black_48dp.svg);
            background-size: 80px;
        }
    }
}
